.main {
  display: grid;
  grid-template-columns: 7rem 15rem calc(100% - 22rem);
  width: 100%;
  height: 100%;
}

div {
  border: 1px solid black;
}
.div3 {
  display: grid;
  grid-template-columns: calc(100% - 15rem) 15rem;
  grid-template-rows: 1fr 20fr;
}
.div4 {
  grid-column: span 2;
}
