.newServerBackground {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }

.newServerContainer {
    position: fixed;
    height: 500px;
    width: 500px;
    font-family: Ginto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    z-index: 101;
}

.newServerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 1.5rem;
    background-color: hotpink;
}

.newServerCloseContainer {
    position: absolute;
    right: 15px;
    top: 15px;
    height: 22px;
    width: 22px;
}

.newServerX {
    fill: rgb(175,178,182);
}

.newServerCloseContainer:hover > svg {
    transition: ease-in 0.2s;
    fill: black;
}

.newServerHeading {
    direction: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newServerTitle {
    font-weight: bold;
    font-size: 24px;
    color: black;
    text-align: center;
}

.newServerSubheading {
    font-size: 18px;
    text-align: center;
    color: rgb(191,194,197);
}

.newServerContent {
    background-color: cyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 1rem 0;
    width: 100%;
}

.imgIconContainer {
    fill: rgb(79,86,96) !important;
}

.newServerImg {
    display: none;
}

.newServerInputWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.newServerInputWrapper > * {
    color: rgb(79,86,96) !important;
}

.newServerLabel {
    font-size: 12px;
    margin-top: 1rem;
}

.newServerInputField {
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid rgb(175,178,182) !important;
    border-radius: 4px;
    height: 3rem;
    margin: .25rem 0;
    font-size: 18px;
}

.newServerButtons {
    background-color: lawngreen;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newServerBack {
    color: black;
    cursor: pointer;
}

.newServerSubmit {
    color: white;
    background-color: rgb(87,102,242);
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
}

.newServerSubmit:hover {
    transition: ease-in 0.2s;
    background-color: rgb(71,82,196);
}
