* {
    border: none !important;
}

.channelComponentWrapper {
    font-family: Ginto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: none;
    /* ---------------------- */
    background: rgb(47, 49, 54);
    display: flex;
    flex-direction: column;
    font-weight: 500;
    height: 100vh;
    justify-content: space-between;
    position: relative;
}

.channelListWrapper {
    height: 100%;
    overflow-y: scroll;
    padding: 20px 6px;
}

.channelListWrapper > p:first-child {
    font-size: 14px;
    margin-bottom: 4px;
    padding-left: 9px;
    text-transform: uppercase;
}

.channelIcon {
    align-items: center;
    display: flex;
    margin-right: 8px;
}

.channelListWrapper a {
    align-items: center;
    border-radius: 4px;
    color: #464A51;
    display: flex;
    padding: 4px 8px;
    margin: 2px auto;
    text-decoration: none;
    text-transform: lowercase;
}

a:hover, a:active {
    background: rgb(57, 60, 67) !important;
}

a:hover p, a:active p {
    color: #fff;
}

.serverDetailsWrapper {
    align-items: center;
    background: rgb(47, 49, 54);
    border-bottom: 1px solid #292b2f !important;
    box-shadow: 0 1px 1px rgb(0, 0, 0, 30%);
    display: flex;
    flex-direction: column;
}

.serverMenuDropdown {
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    transition: all 200ms;
    width: 100%;
}

.serverMenuDropdown i {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 18px;
    width: 18px;
}

.iconOpen {
    background: url('./assets/down-arrow-wht.svg');
}

.iconClose {
    background: url('./assets/exit-wht.svg');
}

.serverMenuDropdown:hover {
    background: rgb(54, 57, 63);
    cursor: pointer;
}

.serverMenuDropdownActive {
    background: rgb(54, 57, 63);
}

.serverSettingsMenu {
    background: #18191C;
    border-radius: 4px;
    padding: 8px;
    position: absolute;
    top: 58px;
    transform: scale(0.7);
    transition: transform 250ms;
    visibility: hidden;
    width: 93%;
}

.serverMenuOpen {
    transform: scale(1.0);
    visibility: visible;
}

.settingLink a, .disableOption {
    align-items: center;
    border-radius: 3px;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    padding: 6px 8px;
    text-decoration: none;
}

.inviteLink {
    color: #959EF4;
}

.inviteLink svg {
    fill: #959EF4;
}

.stdServerLink {
    color: #B9BBBE;
}

.inviteLink:hover, .stdServerLink:hover {
    background: #959EF4;
    color: #fff;
}

.inviteLink:hover svg {
    fill: #fff;
}

.disableOption {
    color: #EB444A;
}

.disableOption:hover {
    background: #EB444A;
    color: #fff;
}

.disableOption svg {
    fill: #EB444A;
}

.disableOption:hover svg {
    fill: #fff;
}

.userDetailsWrapper {
    align-items: center;
    background: #292B2F;
    display: flex;
    justify-content: space-between;
    padding: 10px 8px;
    width: 100%;
}

.userDetailsContent {
    align-items: center;
    display: flex;
}

.userProfileImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    height: 32px;
    margin-right: 8px;
    width: 32px;
}

.sampleProfileImage {
    background: url('assets/sample-profile-img.svg') !important;
}

.detailsUsername {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
}

.detailsId {
    color: #B9BBBE;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}

.userDetailsSettingsBtn {
    border-radius: 4px;
    display: flex;
    padding: 8px;
    position: relative;
}

.userDetailsSettingsBtn:hover {
    background: rgb(57, 60, 67);
    cursor: pointer;
}

.userDetailsSettingsBtn svg {
    color: #B9BBBE;
}

.userDetailsSettingsBtn:hover svg {
    color: #fff;
}

.settingsTooltip {
    background: #18191C;
    border-radius: 4px;
    color: #DCDDDE;
    font-size: 14px;
    left: -67px;
    padding: 6px 10px;
    position: absolute;
    top: -37px;
    transform: scale(0.7);
    transition: transform 200ms;
    visibility: hidden;
    white-space: nowrap;
}

.userDetailsSettingsBtn:hover .settingsTooltip {
    transform: scale(1.0);
    visibility: visible;
}

.userSettingsModalBg {
    background: #36393F;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 10000;
    /* ------------------ */
    transform: scale(1.25);
    transition: transform 200ms;
    visibility: hidden;
}

.userSettingsModalBgActive {
    transform: scale(1.0);
    visibility: visible;
}

.userSettingsModal {
    align-items: center;
    font-family: Ginto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.userSettingsWrapper {
    max-width: 660px;
    width: 100%;
    z-index: 20;
}

.userSettingsWrapper h2 {
    color: #fff;
    font-size: 21px;
    margin-bottom: 16px;
}

.userSettingsWrapper > div {
    background: #202225;
    border-radius: 8px;
    display: flex;
    padding: 14px;
}

.deleteUserBtn {
    background: red;
}

#settingsAvatar {
    height: 94px;
    width: 94px;
}

/* --- channel heading --- */

.channelHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

/* .channelModalContainer {
    background: teal;
} */

.testModal {
    background: yellow;
    position: fixed;
    width: 100vw;
}

.serverModalBackground {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }

.channelModalContainer {
    position: fixed;
    height: fit-content;
    width: 400px;
    font-family: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: teal;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    z-index: 101;
  }

  .serverModalWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 1.5rem;
    /* background-color: hotpink; */
  }

  .serverModalWrapper > div {
    color: black;
  }

  .title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0.5rem;
  }

  .closeModal {
    position: absolute;
    right: 15px;
    top: 15px;
    height: 22px;
    width: 22px;
  }

  .closeX {
    fill: rgb(175, 178, 182);
  }

  .closeModal:hover > svg {
    transition: ease-in 0.2s;
    fill: black;
  }

  .subheading {
    color: rgb(191, 194, 197) !important;
    font-size: 14px;
    text-align: center;
  }

  .channelLink {
      align-items: center;
      display: flex;
      justify-content: space-between;
      position: relative;
  }

  .channelLinkContent {
      align-items: center;
      display: flex;
  }

  .channelControls {
      color: yellow;
      position: absolute;
      right: 9px;
  }
