* {
    border: none !important;
    color: #83878C;
    font-family: Ginto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: none;
}

.channelComponentWrapper {
    background: rgb(47, 49, 54);
    height: 100%;
}

.channelListWrapper {
    padding: 6px;
}

.channelIcon {
    align-items: center;
    display: flex;
    margin-right: 8px;
}

a {
    align-items: center;
    border-radius: 4px;
    display: flex;
    padding: 4px 8px;
    margin: 2px auto;
}

a:hover, a:active {
    background: #32353A;
}

a:hover p, a:active p {
    color: #fff;
}

.serverDetailsWrapper {
    align-items: center;
    background: rgb(47, 49, 54);
    border-bottom: 1px solid #292b2f !important;
    box-shadow: 0 1px 1px rgb(0, 0, 0, 30%);
    display: flex;
    flex-direction: column;
    position: relative;
}

.serverDetailsWrapper > div:first-child {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    transition: all 250ms;
    width: 100%;
}

.serverDetailsWrapper > div:first-child:hover {
    background: rgb(54, 57, 63);
    cursor: pointer;
}

.serverDetailsWrapper > div p {
    color: #fff;
    font-weight: bold;
}

.serverSettingsMenu {
    background: #18191C;
    border-radius: 4px;
    padding: 12px 16px;
    position: absolute;
    top: 58px;
    width: 93%;
}
