.main {
  grid-column: span 2;
  border: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #292b2f;
  box-shadow: 0 1px 1px rgb(0, 0, 0, 30%);
  z-index: 100;
}
.main * {
  border: 0;
}
.left {
  display: flex;
  align-items: center;
  height: 100%;
}
.left > h3 {
  margin-top: 2px;
  font-size: 1rem;
  color: white;
  font-family: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.left > * {
  margin-left: 8px;
}
.right {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}
.right > * {
  margin: 0 8px;
}

.right input {
  background-color: rgb(32, 34, 37);
  border-radius: 5px;
  caret-color: snow;
  color: snow;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5rem;
}
.right input:focus,
.right input:focus-within {
  outline-width: 0;
}
.searchIcon {
  position: absolute;
  right: 80px;
  height: 20px;
}
.searchIcon > svg {
  height: 15px;
}
.xIcon {
  cursor: pointer;
}
.userIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.message_container {
  padding: 10px 5px 10px 5px;
  display: grid;
  grid-template-columns: 3.5rem auto auto 50px;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "image name date"
    "image text date";
  background-color: rgb(54, 57, 63);
  column-gap: 10px;
}

.message_container:hover {
  background-color: #2f3136;
}

.owner_image {
  object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  grid-area: image;
  justify-self: center;
  align-self: center;
}

.owner_username {
  font-family: Helvetica;
  font-size: 17px;
  color: #f9f9fa;
  font-weight: 500;
  grid-area: name;
  align-self: end;
}

.message_created_at {
  font-family: Helvetica;
  font-size: 13px;
  grid-area: date;
  align-self: center;
}
.message_content {
  font-family: Helvetica;
  font-size: 16px;
  color: #f9f9fa;
  grid-area: text;
  text-overflow: ellipsis;
  white-space: pre-line;
  overflow-x: hidden;
}
.searchMessage {
  position: relative;
}
.searchMessage:focus input,
.messages:focus ~ *,
.searchMessage:focus-within input,
.messages:focus-within ~ * {
  width: 250px !important;
}

.messages {
  position: absolute;
  top: 40px;
  overflow-y: auto;
  height: 500px;
  visibility: visible;
}
.right input:placeholder-shown ~ div {
  visibility: hidden;
}
