.signupFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: url('./assets/login-bg.svg');
}

.signupFormContainer > * {
    font-family: Ginto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.signupFormWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 2rem;
    width: 60%;
    height: 40%px;
    background-color: rgb(54,57,62);
    border-radius: 4px;
}

.signupFormHeading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signupFormTitle {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.signupFormForm {
    width: 100%;
}

.signupFormInputContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 1rem 0;
    width: 100%;
}
