.channel_messages_container {
    display: block;
    padding: 1rem;
    /* overflow-x: hidden; */
    overflow-y: scroll;
}

.server_image {
    object-fit: cover;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
}

.server_image_placeholder {
    object-fit: cover;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-color: #d94043;
}

.channel_welcome {
    font-weight: 700;
    line-height: 40px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: #f9f9fa;
}

.channel_welcome_message {
    color: #a7a9ac;
}

.message_container {
    margin-top: 15px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 3.5rem 3.5rem 100%;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "image name date"
      "image text text";
}

.message_container:hover {
    background-color: #2f3136
}

.owner_image {
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    grid-area: image;
}

.owner_username {
    font-family: Helvetica;
    font-size: 17px;
    color: #f9f9fa;
    font-weight: 500;
    grid-area: name;

}

.message_created_at {
    font-family: Helvetica;
    font-size: 13px;
    grid-area: date;

}

.message_content {
    font-family: Helvetica;
    font-size: 16px;
    color: #f9f9fa;
    grid-area: text;
}

.message_input_container {
    font-family: Helvetica;
    position: fixed;
    bottom: 1rem;
    background-color: #40444b;
    width: 50%;
    border-radius: 8px;
    height: 40px;
    text-rendering: optimizeLegibility;
    justify-content: center;
    padding: 0px;
}

.message_input_field {
    background-color: transparent !important;
    width: 100%;
    margin-left: 1rem;
    margin-top: .5rem;
}
