.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.home {
    margin-top: 10px;
    height: 64px;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    background-color: rgb(46,49,54);
}

.directMessages {
    height: 65%;
}

.serverImg {
    height: 64px;
    width: 64px;
    overflow: hidden;
    border-radius: 50%;
}

.newServer {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: rgb(46,49,54);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.newWrapper {
    margin-bottom: 5px;
}

.addServer {
    font-size: 48px;
    color: rgb(59, 165, 93);
    /* height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: rgb(46,49,54); */
    text-align: center;
}
